<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/NNRG-LOGO3.jpg') }}" />
    </div>
    <nav class="nav">
        <div class="navdiv">
            <div class="grd-logo">
                <img src="{{ url_for('static', filename='images/grd.png') }}" />
            </div>
                <div class="typing-demo">
                  <p>College Enquiry ChatBot</p>
                </div>
            
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">User login</a></li>
                
                <li><a href="admin_login">Admin Login</a></li>
                
            </ul>
        </div>
    </nav>
    <div class="bg">
        <img src="{{ url_for('static', filename='images/clg.png') }}" />  
    </div>
    <div class="lft-rgt">
        <div class="lft">
            <h2>Vision</h2>
            <p> ☛To be a premier institution ensuring globally competent and ethically strong professionals.</p>
        </div>
        <div class="rgt">
            <h2>Mission</h2>
            <ul>
                <li>☛  To provide higher education by refining the traditional methods of teaching to make globally competent professionals</li>
                <li>☛  To impart quality education by providing the state of the art infrastructure and innovative research facilities</li>
                <li>☛  To practise and promote high standards of professional ethics, transparency and accountability</li>
            </ul>
        </div>
    </div>
    <div class="more">
        <h2>Why choose NNRg</h2>
        <p>Nalla Narasimha Reddy Education Society is established and registered with a primary objective of educating young men and women; to prepare them for fast changing national and international requirements; to fund the needy and promote research in the area of science and technology. Accordingly, an Integrated Contiguous Campus with multi disciplinary Technical, Engineering, Pharmacy and Management programs under the banner of Nalla Narasimha Reddy Education Society’s (NNRG) Group of Institutions is started.
            This Institute is affiliated to JNTU – Hyderabad.  Approved by AICTE – New Delhi. NNRG was established in the year 2009 with sole objective of providing world class technical education.</p>
        <p>NNRG was established in the year 2009, affiliated to JNTU – Hyderabad, Approved by AICTE – New Delhi and PCI - New Delhi. Institution established with sole objective of providing world class technical education. From the time of its initiation, the Integrated Campus including School of Engineering, School of Pharmacy and School of Management Sciences has been striving to scale the heights of excellence through the consistent efforts of the management headed by Sri Nalla Narasimha Reddy, Secretary and the dedicated and committed faculty. By the introduction of innovative curriculum insistence on academic discipline and imparting of holistic education.

            This Institute is accredited by the National Assessment and Accreditation Council (NAAC) with A+ Grade and National Board of Accreditation(NBA) for CSE, ECE, ME in 2018.The UGC has recognized the college under section 2(f) of the UGC Act 1956 and ISO 9001:2015 certified.
            
            NNRG aims at being one of the most premier educational institutions in Telangana. Our plans are to produce the best quality students who would contribute optimum to the society, nation and the global world with latest trends and innovations.
            
            We intend to establish a system of Continuous Quality Improvement (CQI) processes that would evaluate the quality of education and training and improve the teaching-learning methods to ultimately lead the Institute to Excellence.</p>
    </div>
    <div class="more">
        <h2>About NNRG</h2>
        <p>Nalla Narasimha Reddy Education Society is established and registered with a primary objective of educating young men and women; to prepare them for fast changing national and international requirements; to fund the needy and promote research in the area of science and technology. Accordingly, an Integrated Contiguous Campus with multi disciplinary Technical, Engineering, Pharmacy and Management programs under the banner of Nalla Narasimha Reddy Education Society’s (NNRG) Group of Institutions is started.
            This Institute is affiliated to JNTU – Hyderabad.  Approved by AICTE – New Delhi. NNRG was established in the year 2009 with sole objective of providing world class technical education.</p>
        <p>NNRG was established in the year 2009, affiliated to JNTU – Hyderabad, Approved by AICTE – New Delhi and PCI - New Delhi. Institution established with sole objective of providing world class technical education. From the time of its initiation, the Integrated Campus including School of Engineering, School of Pharmacy and School of Management Sciences has been striving to scale the heights of excellence through the consistent efforts of the management headed by Sri Nalla Narasimha Reddy, Secretary and the dedicated and committed faculty. By the introduction of innovative curriculum insistence on academic discipline and imparting of holistic education.

            This Institute is accredited by the National Assessment and Accreditation Council (NAAC) with A+ Grade and National Board of Accreditation(NBA) for CSE, ECE, ME in 2018.The UGC has recognized the college under section 2(f) of the UGC Act 1956 and ISO 9001:2015 certified.
            
            NNRG aims at being one of the most premier educational institutions in Telangana. Our plans are to produce the best quality students who would contribute optimum to the society, nation and the global world with latest trends and innovations.
            
            We intend to establish a system of Continuous Quality Improvement (CQI) processes that would evaluate the quality of education and training and improve the teaching-learning methods to ultimately lead the Institute to Excellence.</p>
    
    </div>

    <script>
        function togglepop(){
            document.getElementById("pop-1").classList.toggle("active");
        }
    </script>
</body>
</html>